@model AR_00002_SereneSample.Membership.ResetPasswordEmailModel

<html>
<head>
    <title>Reset your AR_00002_SereneSample password</title>
</head>
<body>
    <p>@Model.DisplayName,</p>

    <p>We received a request to change your password on AR_00002_SereneSample.</p>

    <p>Click the link below to set a new password:</p>

    <p><a href="@Model.ResetLink">@Model.ResetLink</a></p>

    <p>If you don't want to change your password, you can ignore this email.</p>

    Thanks,
    The "AR_00002_SereneSample" Team
</body>
</html>